

<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Action("GioHang","GioHang")" class="cart-item-menu">
            <i class="fa fa-shopping-cart"><span style="font-family: Verdana">Giỏ hàng (@ViewBag.TongSoLuong)</span></i>
        </a>
    </li>
</ul>