@model DoAnLapTrinhWeb.Models.BRAND

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h3 style="text-align:center">Sửa thông tin nhãn hàng</h3>
    <br />

    <div class="row">
        <div class="col-md-3">
            <br />
        </div>
        <div class="col-md-6">
            <dl>
                <dt class="col-md-6 text-md-right">
                    Tên Nhãn Hàng:
                </dt>

                <dt class="col-md-6 text-md-left">
                    @Html.EditorFor(model => model.Brand1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand1, "", new { @class = "text-danger" })
                </dt>

            </dl>
        </div>
        <div class="col-md-3">
            <br />
        </div>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-3">
                <br />
            </div>
            <div class="col-md-6 text-md-center">
                <dl>
                    <dt class="col-md-6 text-md-right">
                        <input type="submit" value="Lưu" class="btn btn-success" />
                    </dt>

                    <dt class="col-md-6 text-md-left">
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                    </dt>

                </dl>
            </div>
            <div class="col-md-3">
                <br />
            </div>
        </div>
    }
</div>